form {
    position: relative;
    padding-bottom: 60px;
}

.ContenedorBotones {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 10px;
    /* width: calc(100% - 20px); */
    left: 10px;
}

.btnCal {
    padding-right: 20px;
    padding-left: 20px;
}

.ContPrin {
    background-color: #eff9ff;
    border: 1px solid rgba(0, 0, 0, 0.121);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ContResp {
    background-color: #eff9ff;
    border: 1px solid rgba(0, 0, 0, 0.121);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
